<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 fixed-top">
  <a class="navbar-brand">
    <img src="/images/nhs-logo.png" alt="" height="75" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item mx-3">
        <a class="nav-link fs-5 <%= activePage === 'home' ? 'active' : '' %>"  href="/">Home</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link fs-5 <%= activePage === 'create' ? 'active' : '' %>"  href="/create">Create</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link fs-5 <%= activePage === 'manage' ? 'active' : '' %>"  href="/manage">Manage</a>
      </li>
      <li class="nav-item mx-3">
        <a class="nav-link fs-5" href="/logout">Log out</a>
      </li>
      <li class="nav-item mx-4">
        <a class="navbar-brand">
          <img class="round-circle" src="/images/nhs-logo.png" alt="pfp" height="50"/>
        </a>
      </li>
    </ul>
  </div>
</nav>
