<!DOCTYPE html>
<html>
  <%- include('templates/head')%>
  <body>
    <h1 class="primary"><%= title %></h1>
    <div class="alert alert-primary" role="alert">
      <strong>primary</strong>
    </div>
    <p>Welcome to <%= title %></p>
  </body>
</html>
