<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('templates/head') %>
  </head>

  <body>
    <%- include('templates/header') %>
    <main class="container" style="margin-top: 150px">
      <!-- Top header -->
      <div class="row justify-content-around">
        <div class="col-md-auto">
          <h1>Date entry</h1>
        </div>
        <div class="col-md-auto d-flex align-items-center">
          <h4 id="currentDate" class="text-secondary"></h4>
        </div>
      </div>
      <!-- Main part -->
      <div class="row">
        <!-- List Input -->
        <div class="col-3 mt-5">
          <div class="container">
            <div class="row">
              <div class="col d-flex justify-content-between">
                <h5>Students</h5>
                <div class="d-flex gap-2 align-items-center">
                  <p class="m-0">Select all</p>
                  <!-- All checkbox-button -->
                  <input
                    type="checkbox"
                    name="all-checkbox"
                    id="all-checkbox"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="list-group pb-5">
                <% students.forEach((student, index)=>{ %>

                <label class="list-group-item">
                  <input
                    class="form-check-input me-1 nameCheckbox"
                    type="checkbox"
                  />
                  <%= student%>
                </label>

                <% })%>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9 mt-5 container">
          <!-- Entries -->
          <!-- First activity -->
          <div
            class="row justify-content-center align-items-center g-2 py-2 mt-2"
          >
            <h5 class="text-center">First activity</h5>
            <div class="col">
              <div class="form-group">
                <label for="text-service-1">Service</label>
                <input
                  type="text"
                  class="form-control"
                  id="text-service-1"
                  placeholder="Enter service"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="date-service-1">Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="date-service-1"
                  placeholder="Enter date"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="text-place-1">Place</label>
                <input
                  type="text"
                  class="form-control"
                  id="text-place-1"
                  placeholder="Enter place"
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="number-hours-1">Hours</label>
                <input
                  type="number"
                  class="form-control"
                  id="number-hours-1"
                  placeholder="Enter hours"
                  step="0.01"
                />
              </div>
            </div>
          </div>
          <!-- Second activity -->
          <div
            class="row justify-content-center align-items-center g-2 py-2 mt-2"
            id="secondActivity"
            style="display: none;"
          >
            <h5 class="text-center">Second activity</h5>
            <div class="col">
              <!-- Service -->
              <div class="form-group">
                <label for="text-service-2">Service</label>
                <input
                  type="text"
                  class="form-control"
                  id="text-service-2"
                  placeholder="Enter service"
                />
              </div>
            </div>
            <div class="col">
              <!-- Date -->
              <div class="form-group">
                <label for="date-service-2">Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="date-service-2"
                  placeholder="Enter date"
                />
              </div>
            </div>
            <div class="col">
              <!-- Place -->
              <div class="form-group">
                <label for="text-place-2">Place</label>
                <input
                  type="text"
                  class="form-control"
                  id="text-place-2"
                  placeholder="Enter place"
                />
              </div>
            </div>
            <div class="col">
              <!-- Hours -->
              <div class="form-group">
                <label for="number-hours-2">Hours</label>
                <input
                  type="number"
                  class="form-control"
                  id="number-hours-2"
                  placeholder="Enter hours"
                  step="0.01"
                />
              </div>
            </div>
          </div>
          <!-- Submit part -->
          <div class="row mt-5">
            <hr />
            <div class="col d-flex gap-3 justify-content-center">
              <button type="button" class="btn btn-dark" id="autofill-button">
                Template
              </button>
              <button type="button" id="resetButton" class="btn btn-danger">
                Reset
              </button>
            </div>
            <div class="col d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('templates/footer') %>
    <script>
      // Global variables
      const formattedDate = setTime();

      // Watchers

      // Template button
      $("input[name='template']").change(function () {
        getTemplateValue();
      });

      // Check all button
      $("#all-checkbox").change(() => {
        setListValue();
      });

      // AutoFill
      $("#autofill-button").click(() => {
        autofiller();
      });

      // Reset Autofill
      $("#resetButton").click(()=>{
        resetAutofiller();
      });

      // ENDBLOCK
      // FUNCTIONS

      // Time function
      function setTime() {
        let currentDate = new Date();
        // Format the date
        let formattedDate = currentDate.toLocaleDateString("en-US", {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
        });
        $("#currentDate").text(formattedDate);

        return formattedDate;
      }

      // Autofill

      function resetAutofiller() {
        $("#text-service-1").val(null);
        $("#text-place-1").val(null);
        $("#number-hours-1").val(null);
        $("#date-service-1").val(null);
        $("#text-service-2").val(null);
        $("#text-place-2").val(null);
        $("#number-hours-2").val(null);
        $("#date-service-2").val(null);
        $("#secondActivity").css("display", "none");

      }

      function autofiller() {
        // First activity
        $("#text-service-1").val("Meeting");
        $("#text-place-1").val("Cafeteria");
        $("#number-hours-1").val(0.25);

        // Set date 1
        let currentDate = new Date();
        let formattedDate = currentDate.toISOString().split("T")[0]; // Format date as "YYYY-MM-DD"
        $("#date-service-1").val(formattedDate);

        // Second activity
        $("#text-service-2").val("!!Stuff!!");
        $("#text-place-2").val("Room 216");
        $("#number-hours-2").val(0.75);

        // Set date 2
        $("#date-service-2").val(formattedDate);

        $("#secondActivity").css("display", "flex");
      }

      // Set all checkboxes to be checked or unchecked based on the "All" checkbox
      function setListValue() {
        const isChecked = $("#all-checkbox").prop("checked");
        $(".nameCheckbox").prop("checked", isChecked);
      }
    </script>
  </body>
</html>
